---
import { getSession } from "../sessions";

const session = getSession(Astro.cookies); // Prepare the session

const userId = session.get("userId"); // Get the session data
---
{userId ? (
  <p>Hello, {userId}!</p>
) : (
  <form method="post">
    <label>User ID: <input type="text" name="id" /></label>
    <input type="submit" value="Log in" />
    <a href="#" onclick="signin()">Log in</a>
  </form>
)}

<script is:inline>
  window.signin = async () => {
    const response = await fetch("/signin", { method: "POST", body: JSON.stringify({ id: "123" }) });
    if (response.ok) {
      location.reload();
    }
  };
</script>
